.button {
    width: 26rem;
    height: 3.5rem;
    background-color: rgba(87, 87, 87, 0.5);
    margin-top: 2rem;
    border-radius: 3rem;
    outline: 0;
    border: none;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.button:hover {
    transition: 0.1s;
    background-color: rgba(147, 147, 147, 0.5);
}