.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container__text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #A77B22;
}

.container__icons {
  padding: 1rem 0 1rem 0;
  width: 26rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}